@using EcommerceMVC.Models;
@model IEnumerable<ProductCategory>;

<h1>List Of Product Category</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a style="text-align:center; text-decoration:none;width:250px;height:40px; background-color:cornflowerblue;color:white;padding:10px;border-radius:5px" asp-area="" asp-controller="ProductCategory" asp-action="Create">Add New Product Category</a>
</div>
<ul class="row feature-list feature-list-sm">
    @foreach (var item in Model)
    {
       <div class="card" style="width: 18rem; border:1px solid black ; margin:6px">
          <div class="card-body">
              <h5 class="card-title">@item.CategoryName</h5>
              <p class="card-text">@item.Description</p>
                 <div class="card">
                        @if (@item.Image != null)
                        {
                            <img class="card-img-top" src="@item.Image" alt="Card image cap">   
                        }
                        else
                        {
                            <img class="card-img-top" src="/img/rungroopclub.png" alt="Card image cap">   
                        }
                  </div>
                  <a type="button" asp-controller="ProductCategory" asp-action="ShowAll" asp-route-id="@item.Id">View All</a>
            </div>
       </div>
    }
</ul>